<div class="theme-config">
    <div class="theme-config-box">
        <div class="spin-icon">
            <i class="fa fa-cogs fa-spin"></i>
        </div>
        <div class="skin-settings">
            <div class="title">
                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">配置</font></font><br>
                <small style="text-transform: none;font-weight: 400">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            主题和样式
                        </font><font style="vertical-align: inherit;">
                            @*所有选项均可通过代码获得*@
                        </font>
                    </font>
                </small>
            </div>
            <div class="setings-item">
                <span>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            折叠菜单
                        </font>
                    </font>
                </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                        <label class="onoffswitch-label" for="collapsemenu">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                <span>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            修正了侧边栏
                        </font>
                    </font>
                </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixedsidebar" class="onoffswitch-checkbox" id="fixedsidebar">
                        <label class="onoffswitch-label" for="fixedsidebar">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                <span>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            顶部的导航栏
                        </font>
                    </font>
                </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                        <label class="onoffswitch-label" for="fixednavbar">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                <span>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            顶部导航栏v.2
                        </font>
                    </font><br>
                    <small><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*主要布局</font></font></small>
                </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixednavbar2" class="onoffswitch-checkbox" id="fixednavbar2">
                        <label class="onoffswitch-label" for="fixednavbar2">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                <span>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            盒装布局
                        </font>
                    </font>
                </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                        <label class="onoffswitch-label" for="boxedlayout">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                <span>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            固定页脚
                        </font>
                    </font>
                </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixedfooter" class="onoffswitch-checkbox" id="fixedfooter">
                        <label class="onoffswitch-label" for="fixedfooter">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">皮肤</font></font></div>
            <div class="setings-item default-skin">
                <span class="skin-name ">
                    <a href="#" class="s-skin-0">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                默认
                            </font>
                        </font>
                    </a>
                </span>
            </div>
            <div class="setings-item blue-skin">
                <span class="skin-name ">
                    <a href="#" class="s-skin-1">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                蓝光
                            </font>
                        </font>
                    </a>
                </span>
            </div>
            <div class="setings-item yellow-skin">
                <span class="skin-name ">
                    <a href="#" class="s-skin-3">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                黄色/紫色
                            </font>
                        </font>
                    </a>
                </span>
            </div>
            @*<div class="setings-item ultra-skin">
                    <span class="skin-name ">
                        <a href="md_skin/" class="md-skin">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    材料设计
                                </font>
                            </font>
                        </a>
                    </span>
                </div>*@
        </div>
    </div>
</div>
