
@{
    ViewBag.Title = "";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">

            <li>
                <h2>暂时没有权限哦，请联系管理员！</h2>
            </li>
            <li>
                <button type="button" class="btn btn-primary" onclick="javascript: history.back(-1);"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">返回上一页</font></font></button>
            </li>
        </ol>
    </div>
</div>